<div id='company-preview' class='col-md-6'>
  <div class='company-card pull-right'>
    <div id='preview-picture'>
      <img src="/missing_small.png">
    </div>
    <div class='card-description'>
      <div class='card-info'>
        <p id='preview-title'></p>
        <p id='preview-blurb'></p>
      </div>
      <div class='card-footer'>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          <span id='preview-location'></span>
        </p>
        <div class='card-divider'></div>
        <div class='row'>
          <div class='col-md-4'>0% <p class='gray'>funded</p></div>
          <div class='col-md-4'>$0.00 <p class='gray'>invested</p></div>
          <div class='col-md-4 pull-right'>0 <p class='gray'>days to go</p></div>
        </div>
      </div>
    </div>
  </div>
</div>