<div class="row">
  <h1>Register your company.</h1>
  <div id="new-company" class="col-md-6">
    <form id="new-company-form" enctype='multipart/form-data'>

      <div class="form-group">
        <label for='company_name'>Name</label>
        <input type='text' name='company[name]' class='form-control'
                 id='company_name'>
      </div>

      <div class="form-group">
        <label for='company_blurb'>Short blurb
          <textarea name="company[blurb]"
            class='form-control' id='company_blurb'
            placeholder='How would you describe your company in a single tweet?'></textarea>
        </label>
      </div>

      <div class="form-group">
        <label for'company_location'>Company Location
          <input type='text' name='company[location]' class='form-control'
          placeholder='San Francisco, CA'>
         </label>
      </div>

      <div class="form-group">
        <label>Business Growth Stage
          <select name="company[growth_stage]" class='form-control'>
            <option value='Start-Up'>Start-Up</option>
            <option value='Early Growth'>Early Growth</option>
            <option value='Growth'>Growth</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <label>Duration
          <input type='text' name='company[duration]' class='form-control'
                 placeholder="days">
        </label>
      </div>

      <div class='form-group'>
        <label for="company_goal">Investment Goal</label>
        <div class="input-group addon-input-group">
            <span class="input-group-addon">$</span>
            <input type='text' name='company[investment_goal]'
                   class='form-control' id='company_goal'>
        </div>
      </div>

      <div class='form-group'>
        <label for="company_equity">Equity</label>
        <div class="input-group addon-input-group">
            <input type='text' name='company[equity]'
                   class='form-control' id='company_equity'>
            <span class="input-group-addon">%</span>
        </div>
      </div>

      <button type='submit' class='btn btn-primary'>Register!</button>
    </form>
  </div>

  <div id='company-preview' class='col-md-6'>
    <div class='company-card'>
      <div id='preview-picture'>
        <img src="/missing_small.png">
      </div>
      <div class='card-description'>
        <div class='card-info'>
          <p id='preview-title'></p>
          <p id='preview-blurb'></p>
        </div>
        <div class='card-footer'>
          <p>
            <span class="glyphicon glyphicon-map-marker"></span>
            <span id='preview-location'></span>
          </p>
          <div class='card-divider'></div>
          <div class='row'>
            <div class='col-md-4'>0% <p class='gray'>funded</p></div>
            <div class='col-md-4'>$0.00 <p class='gray'>invested</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>