<div class="row new-company-container">
  <h1 class='center'>Register your company.</h1>

  <div id="new-company" class="col-md-6">
    <form id="new-company-form" enctype='multipart/form-data'>

      <div class="form-group">
        <label for='company_name'>Name</label>
        <input type='text' name='company[name]' class='form-control'
                 id='company_name'>
      </div>

      <div class="form-group">
        <label for='company_blurb'>Short blurb</label>
          <textarea name="company[blurb]"
            class='form-control' id='company_blurb'
            placeholder='How would you describe your company in a single tweet?'></textarea>
      </div>

      <div class="form-group">
        <label for='company_location'>Location</label>
          <input type='text' name='company[location]' class='form-control'
          placeholder='San Francisco, CA' id='company_location'>
      </div>

      <div class="form-group">
        <label for='company_website'>Website</label>
          <input type='text' name='company[website]' class='form-control'
            id='company_website'>
         </label>
      </div>

      <div class="form-group">
        <label for='company_sector'>Sector</label>
          <select name="company[sector_id]" class='form-control' id='company_sector'>
            <% sectors.each(function (sector) { %>
              <option value='<%= sector.id %>'>
                <%= sector.escape('name') %>
              </option>
            <% }); %>
          </select>
      </div>

      <div class="form-group">
        <label for='company_growth'>Business Growth Stage</label>
          <select name="company[growth_stage]" class='form-control'
            id='company_growth'>
            <option value='Start-Up'>Start-Up</option>
            <option value='Early Stage'>Early Stage</option>
            <option value='Growth'>Growth</option>
          </select>
      </div>

      <div class="form-group">
        <label for='company_duration'>Duration</label>
          <input type='text' name='company[duration]' class='form-control'
                 placeholder="days" id='company_duration'>
        </label>
      </div>

      <div class='form-group'>
        <label for="company_investment_goal">Investment Goal</label>
        <div class="input-group addon-input-group">
            <span class="input-group-addon">$</span>
            <input type='text' name='company[investment_goal]'
                   class='form-control' id='company_investment_goal'>
        </div>
      </div>

      <div class='form-group'>
        <label for="company_equity">Equity</label>
        <div class="input-group addon-input-group">
            <input type='text' name='company[equity]'
                   class='form-control' id='company_equity'>
            <span class="input-group-addon">%</span>
        </div>
      </div>

      <button type='submit' class='btn btn-primary'>Register!</button>
    </form>
  </div>

  <%= JST['companies/new/card_preview']() %>
</div>