<h1 class='center' id='company-show-title'><%= company.escape('name') %></h1>
<div class='company-show-info'>
  <%= JST['companies/show_nav']({ company: company }) %>
  <%= JST['companies/show_main']({ company: company }) %>
</div>