<ul class='nav nav-pills show-nav'>
  <li class='active'><a href='#home' data-toggle='pill'>Home</a></li>

  <li><a href='#updates' data-toggle='pill'>Updates
      <span class='update-count nav-num'>0</span>
  </a></li>

  <li><a href='#investors' data-toggle='pill'>Investors
    <span class='investor-count nav-num'>0</span>
  </a></li>

  <li><a href='#comments' data-toggle='pill'>Comments
    <span class='comment-count nav-num'>0</span>
  </a></li>
</ul>