<h1 class='center' id='company-show-title'><%= company.escape('name') %></h1>
<div class='company-show-info'>
  <ul class='nav nav-pills show-nav'>
    <li class='selected'><a href='#'>Home</a></li>
    <li><a href='#'>Updates</a></li>
    <li><a href='#'>Investors</a></li>
    <li><a href='#'>Comments</a></li>
  </ul>

  <div class='company-form company-show row'>
    <div class='col-md-8 left-show'>
      <img src='<%= company.escape('main_photo_url') %>'>
    </div>
    <div class='col-md-4 right-show'>
      <div class='company-stats'>
        <h1>100000</h1>
        <span>investors</span>
      </div>
    </div>
  </div>
</div>