<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret signed-in"></b></a>
  <ul class="dropdown-menu nav-main">
    <li><a href="#">Messages</a></li>
    <li><a href="#">Activity</a></li>
    <li><a href="#">Starred Companies</a></li>
    <% if current_user.companies.any? %>
      <li class="divider"></li>
      <% current_user.companies.each do |company| %>
        <li><%= link_to company.name, "#/companies/#{company.id}/edit" %></li>
      <% end %>
    <% end %>
    <li class="divider"></li>
    <li><a href="#">Account</a></li>
    <li><%= link_to 'Sign Out', session_url, method: :delete %></li>
  </ul>
</li>