<nav class="navbar navbar-default navbar-main" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">HACK<span id="brand-hack">STARTER</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/discover">Discover</a></li>
        <li><a href="#/companies/new">Start</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id='user-main-nav'>
      </ul>
    </div>
  </div>
</nav>