<nav class="navbar navbar-default navbar-main" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">HACK<span id="brand-hack">STARTER</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Discover</a></li>
        <%# if logged_in? %>
          <li><a href="#/companies/new">Start</a></li>
        <%# end %>
      </ul>
      <form class="navbar-form navbar-left nav-search" role="search">
        <div class="form-group">
          <span class='glyphicon glyphicon-search'></span>
          <input type="text" class="form-control nav-search"
            placeholder="Search companies">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <div class='signed-out'>
          <li><%= link_to 'Sign Up', '#/signup' %></li>
          <li><%= link_to 'Log In', '#/login' %></li>
        </div>
        <li class='drop-drop signed-in'>
        </li>
      </ul>
    </div>
  </div>
</nav>