<div class='sidebar'>
  <h3>
    <span class='glyphicon glyphicon-star index-marker'></span>
    Featured
  </h3>

  <ul>
    <li><a href=''>Staff Picks</a></li>
    <li><a href=''>Popular</a></li>
    <li><a href=''>Recently Launched</a></li>
    <li><a href=''>Ending Soon</a></li>
    <li><a href=''>Most Funded</a></li>
  </ul>

  <h3>
    <span class='glyphicon glyphicon-tags index-marker'></span>
    Sectors
  </h3>

  <ul>
    <li><a href=''>Art &amp; Design</a></li>
    <li><a href=''>Education</a></li>
    <li><a href=''>Environmental &amp; Ethical</a></li>
    <li><a href=''>Film, TV, &amp; Theatre</a></li>
    <li><a href=''>Food</a></li>
    <li><a href=''>Games</a></li>
    <li><a href=''>Health &amp; Fitness</a></li>
    <li><a href=''>Media &amp; Creative Services</a></li>
    <li><a href=''>Professional &amp; Business Services</a></li>
    <li><a href=''>Retail</a></li>
    <li><a href=''>Sport &amp; Leisure</a></li>
    <li><a href=''>Technology</a></li>
  </ul>


  <h3>
    <span class='glyphicon glyphicon-map-marker index-marker'></span>
    Cities
  </h3>

  <ul>
    <li><a href=''>San Francisco</a></li>
  </ul>
</div>