<div class='sidebar'>
  <h3>
    <span class='glyphicon glyphicon-star index-marker'></span>
    Featured
  </h3>

  <ul>
    <li class='active'><a href='#staff-picks' data-toggle='tab'>Staff Picks</a></li>
    <li><a href='#popular' data-toggle='tab'>Popular</a></li>
    <li><a href='#recent' data-toggle='tab'>Recently Launched</a></li>
    <li><a href='#ending' data-toggle='tab'>Ending Soon</a></li>
    <li><a href='#most-funded' data-toggle='tab'>Most Funded</a></li>
  </ul>

  <h3>
    <span class='glyphicon glyphicon-tags index-marker'></span>
    Sectors
  </h3>

  <ul>
    <li><a href='#art' data-toggle='tab'>Art &amp; Design</a></li>
    <li><a href='#education' data-toggle='tab'>Education</a></li>
    <li><a href='#environmental' data-toggle='tab'>Environmental &amp; Ethical</a></li>
    <li><a href='#film' data-toggle='tab'>Film, TV, &amp; Theatre</a></li>
    <li><a href='#food' data-toggle='tab'>Food</a></li>
    <li><a href='#games' data-toggle='tab'>Games</a></li>
    <li><a href='#health' data-toggle='tab'>Health &amp; Fitness</a></li>
    <li><a href='#media' data-toggle='tab'>Media &amp; Creative Services</a></li>
    <li><a href='#professional' data-toggle='tab'>Professional &amp; Business Services</a></li>
    <li><a href='#retail' data-toggle='tab'>Retail</a></li>
    <li><a href='#sport' data-toggle='tab'>Sport &amp; Leisure</a></li>
    <li><a href='#technology' data-toggle='tab'>Technology</a></li>
  </ul>


  <h3>
    <span class='glyphicon glyphicon-map-marker index-marker'></span>
    Cities
  </h3>

  <ul>
    <li><a href='' data-toggle='tab'>San Francisco</a></li>
  </ul>
</div>