/* Navigation */

#brand-hack {
  color: #3499d3;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar-main {
  background-color: #fff;
}

.navbar-nav > li:last-child > a:last-child {
  border-right: 1px solid #e7e7e7;
  padding-right: 30px;
}

.navbar-nav > .dropdown > a {
  border-left: 1px solid #e7e7e7;
}

.caret.signed-in {
  color: #428bca;
}

.nav-search {
  height: 50px;
  margin: 0;
}

.nav-search .form-group {
  height: 100%;
}

.nav-search > .form-group > input {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 100%;
  padding: 0;
  font-size: 16px;
  width: 400px;
  color: #616161;
}

.glyphicon-search {
  color: #9B9B9B;
  margin-right: 7px;
}

.nav-search:focus {
  box-shadow: none;
}

/* Misc */

.container-fluid {
  padding-right: 0;
}

body {
  background-color: #F7FAFA;
}

html {
  overflow-y: scroll;
}

.gray {
  color: #8D9092;
}

.center {
  text-align: center;
}

/* Company Card */

.company-card {
  margin-top: 100px;
  height: 518px;
  width: 318px;
  border: 3px solid #D9D9DE;
  border-radius: 10px;
}

.edit-card {
  margin-top: 65px;
}

#preview-picture {
  width: 298px;
  height: 250px;
  margin: 7px auto;
}

.card-description {
  margin-top: 8px;
  width: 255px;
  margin-left: 10px;
  word-wrap: break-word;
}

.card-divider {
  height: 1px;
  border: 3px solid #E7E7E7;
  position: relative;
  width: 293px;
  border-radius: 10px;
}

.card-footer {
  position: absolute;
  bottom: 2%;
}

.card-footer .row {
  padding-top: 10px;
}

.card-footer .row div {
  margin-right: -30px;
}

#preview-title {
  font-weight: bold;
  font-size: 1.2em;
}

#preview-blurb {
  margin-top: 5px;
  color: #8D9092;
}

.glyphicon-map-marker, #preview-location {
  color: #00A0FF;
}

/* New Company Form */

.company-form > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.company-form {
  width: 80%;
  background-color: #fff;
  border: 2px solid #D9D9DE;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

textarea#company_blurb {
  width: 400px;
  height: 100px;
}

#company-photo {
  cursor: pointer;
}

.addon-input-group {
  width: 30%;
}

#company-name {
  width: 80%;
}

/* Edit Company Page */

.edit-tabs {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.progress {
  height: 34px;
}

#company_pitch {
  width: 400px;
  height: 200px;
}

#company_market {
  width: 400px;
  height: 200px;
}

#story h5 {
  margin-bottom: 15px;
}

/* Company Show */

#company-show-title {
  font-size: 40px;
}

.show-nav {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show-nav li {
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.1em;
}

.show-nav > li > a {
  color: #828587;
}

.show-nav li > a:hover {
  background-color: inherit;
}

.show-nav li.active > a, .show-nav.active > a:hover {
  border-bottom: 5px solid #428bca;
  padding-bottom: 5px;
  border-radius: 0;
  color: inherit;
}

.company-show {
  width: 980px;
  margin-top: -3px;
}

.left-show {
  padding: 0;
}

.right-show {
  padding-left: 30px;
}

.nav-num {
  padding: 3px 8px;
  font-size: .8em;
  background-color: #828587;
  border-radius: 5px;
  color: #fff;
  margin-left: 4px;
}

.stats-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
}

.company-stats {
  margin-bottom: 25px;
}

.stats-span {
  font-size: 16px;
  font-weight: bold;
}

.pledge-btn {
  padding: 12px 50px;
}

.pledge-btn > p:first-child {
  font-size: 18px;
}

.pledge-btn > p:last-child {
  margin-top: -5px;
  font-size: 12px;
  color: #000;
}

.nav-pills > li.active > a {
  background-color: inherit;
}

.modal-dialog-center {
  margin-top: 10%;
}

.modal-pledge {
  width: 800px;
}

#pledge-faq {
  width: 90%;
  font-size: 13px;
  margin-left: 20px;
}

#pledge-faq > h5 {
  color: #BFC1C2;
}

p.panel-title {
  font-size: 13px;
  font-weight: bold;
  color: #00A0FF;
}

#pledge-faq .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

#pledge-faq .panel-heading {
  padding-bottom: 0;
}

#pledge-faq .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

#pledge-faq .panel-body {
  border-top: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#pledge-amount {
  width: 80%;
  height: 100%;
  border: none;
  box-shadow: none;
  display: inline;
  padding: 0;
  margin: auto auto;
  font-size: 24px;
  color: #3499D3;
}

.pledge-wrapper {
  width: 267px;
  height: 50px;
  font-size: 27px;
  color: #3499D3;
  border: 1px solid #3499D3;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 25px;
}

.pledge-wrapper < label {
  margin-bottom: 0;
}

.faqs {
  list-style: none;
  padding-left: 0;
}

.paq {
  padding: 0;
}

.panel-default {
  border-color: #fff;
}

.pledge-msg {
  margin-top: 18px;
  font-size: 13px;
}

div.company-pitch {
  font-size: 1.2em;
}

.company-story {
  width: 95%;
  font-size: 1.2em;
}

h3.story-details {
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid #D9D9DE;
  width: 40%;
  color: rgba(80, 80, 80, 0.77);
  margin-bottom: 20px;
}

.company-market img {
  max-width: 100%;
}

.investors-panel {
  list-style: none;
}

.investor-panel {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}


/* Index Page */

.main-image {
  margin-top: -20px;
  height: 100%;
  overflow: hidden;
}

.main-image img {
  margin-top: -20px;
  display: inline;
  position: relative;
}

.main-image-details {
  position: absolute;
  top: 35%;
  left: 55%;
  color: #fff;
}

.main-image-details h1 {
  color: #5E5E5E;
  font-size: 3.6em;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
}

.main-image-details p {
  margin-top: -10px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
}