<% var company; %>

<div class='index-panel index-panel-alt'>
  <div class='container'>
    <h3>
      <span class="glyphicon glyphicon-map-marker index-marker fire"></span>
      San Francisco, CA
    </h3>

    <div class='index-card'>
      <% company = companies.findWhere({ name: 'Cycletree' })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>

    <div class='index-card'>
      <% company = companies.findWhere({ name: 'Hackstarter' })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>

    <div class='index-card'>
      <% company = companies.findWhere({ name: 'Hotdealio' })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  </div>
</div>