<% var company; %>

<div class='index-panel index-panel-alt'>
  <div class='container'>
    <h3>
      <span class="glyphicon glyphicon-map-marker index-marker fire"></span>
      San Francisco, CA
    </h3>

    <% _(companies.findByLocation('San Francisco, CA', 3)).each(function (company) { %>
      <div class='index-card'>
        <%= JST['companies/company_card']({ company: company }) %>
      </div>
    <% }); %>
  </div>
</div>