<div class='index-panel index-panel-alt'>
  <div class='container facebook-panel'>
    <h2>Discover great companies with your friends!</h2>
    <a href='#' class='btn btn-facebook btn-lg'>
      <i class="fa fa-facebook-square"></i>Connect with Facebook
    </a>
  </div>
</div>