<div id='footer'>
  <div class='container'>
    <div class='row footer-links'>
      <div class='col-md-3'>
        <p>About Us</p>
        <ul>
          <li><a href="">2013 highlights</a></li>
          <li><a href="">2012 highlights</a></li>
          <li><a href="">Who we are</a></li>
          <li><a href="">Jobs</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Stats</a></li>
          <li><a href="">Projects we love</a></li>
        </ul>
      </div>
      <div class='col-md-3'>
        <p>Help</p>
        <ul>
          <li><a href="">What is Hackstarter?</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Support</a></li>
          <li><a href="">Hackstarter School</a></li>
          <li><a href="">Term of Use</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class='col-md-3'>
        <p>Discover</p>
        <ul>
          <li><a href="">Art &amp; Design</a></li>
          <li><a href="">Education</a></li>
          <li><a href="">Environmental &amp; Ethnical</a></li>
          <li><a href="">Food</a></li>
          <li><a href="">Games</a></li>
          <li><a href="">Health &amp; Fitness</a></li>
          <li><a href="">Media &amp; Creative Services</a></li>
          <li><a href="">Professional &amp; Business Services</a></li>
          <li><a href="">Sport &amp; Leisure</a></li>
          <li><a href="">Technology</a></li>
        </ul>
      </div>
      <div class='col-md-3'>
        <p>Hello</p>
        <ul>
          <li><a href=""><i class="fa fa-twitter-square"></i>Twitter</a></li>
          <li><a href=""><i class="fa fa-facebook-square"></i>Facebook</a></li>
          <li><a href=""><i class="fa fa-tumblr-square"></i>Tumblr</a></li>
          <li><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
          <li><a href=""><i class="fa fa-vine"></i>Vine</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </div>

    <div class='bottom-copyright'>
      <a href='#'>HACKSTARTER</a>
      <span class='pull-right'>&copy; 2014 Hackstarter, inc.</span>
    </div>
    </div>
  </div>
</div>

