<div class='main-image'>
  <div class='main-image-details center'>
    <h1>HACK<span id="brand-hack">STARTER</span></h1>
    <p>where innovation meets opportunity</p>
  </div>
</div>

<%= JST['root/staff_picks']({ companies: companies }) %>
<%= JST['root/city']({ companies: companies }) %>
<%= JST['root/popular']({ companies: companies }) %>
<%= JST['root/facebook']() %>