<div class='index-panel'>
  <div class='container'>
    <h3><span class="glyphicon glyphicon-fire index-marker city">
    </span>Popular</h3>

    <div class='index-card'>
      <% var company = companies.findWhere({ name: 'App Academy' })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>

    <div class='index-card'>
      <% company = companies.findWhere({ name: "Wreddit" })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>

    <div class='index-card'>
      <% company = companies.findWhere({ name: 'Hotdelio' })
      || new Hackstarter.Models.Company() %>
      <%= JST['companies/company_card']({ company: company }) %>
    </div>
  </div>
</div>