<h1>Sign up</h1>

<form id='new-user-form'>
  <label>Username
    <input type='text' name='user[username]'>
  </label>

  <label>Password
    <input type='password' name='user[password]'>
  </label>

  <input type='submit' value='Sign me up!'>
</form>