<div class='new-comment-container'>
  <% if (Hackstarter.isLoggedIn && (company.isBacker(Hackstarter.currentUser) || company.isOwner(Hackstarter.currentUser))) { %>
    <form id='new-comment-form'>
      <input type='hidden' name='comment[commentable_id]' value='<%= model.id %>'>
      <input type='hidden' name='comment[commentable_type]' value='<%= commentableType %>'>

      <div class='form-group'>
        <textarea name='comment[body]' id='comment_body'
          class='form-control'></textarea>
      </div>

      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  <% } else { %>
    <div class='backer-required'>
      <h4 class='center lead'>Only investors can post comments.</h4>
    </div>
  <% }; %>
</div>

<ul class='investors-panel'>
  <% _(model.comments().first(10)).each(function (comment) { %>
    <%= JST['companies/show/investor_comment']({ comment: comment }) %>
  <% }); %>
</ul>