<div class='tab-pane fade in' id='updates'>
  <% if (company.updates().length) { %>
    <h3>Latest Update</h3>
  <% } else { %>
    <h5 class='lead'>This company has no updates.</h5>
  <% } %>

  <% if (company.updates().length) { %>
    <% var update = company.updates().last() %>
    <div class='company-update'>
      <h5 class='gray pull-right company-date'><%= update.escape('date') %></h5>
      <h4 class='blue'>
          Update #<%= company.updates().length %>
      </h4>
      <h3 class='update-title'><%= update.escape('title') %></h3>
      <div class='stat-line'>
        <div><a class='like gray'>
          <span class='glyphicon glyphicon-heart'></span>
          Like
        </a></div>
      </div>

      <p class='update-content'>
        <%= marked(update.escape('body')) %>
      </p>
    </div>

    <div class='company-update-comments'>
      <h4 class='gray' id='company-comments'>Comments</h4>
    </div>
  <% }; %>
</div>
